@using BiciSendas.Resources

@{
    ViewData["Title"] = "Home Page";
}

@section Scripts {
    <script type="module" src="~/js/home.js"></script>
}

<link rel="stylesheet" href="~/css/home.css"/>

<div class="container mt-5">
    <div class="row">
        <div class="rounded border col m-1 d-flex flex-column" style="background-color:#9bc66d">
            <div class="row">
                <div class="col-2" style="margin:auto">
                    <i class="fas fa-bicycle fa-3x m-1"></i>
                </div>
                <div class="col-10" style="text-align:right">
                    <p class="mb-0 title-container">240 Bicicletas</p>
                    <p class="mb-0 content-container">8,2 k/h Velocidad media</p>
                    <p class="mb-0 content-container">40% de ocupación</p>
                </div>
            </div>
            <div class="row bg-light mt-auto">
                <div class="col"><small>@GlobalStrings.VerDetalles</small></div>
                <div class="col" style="text-align:right"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
        <div class="rounded border col m-1 d-flex flex-column" style="background-color:#9bc66d">
            <div class="row">
                <div class="col-2" style="margin:auto">
                    <i class="fas fa-user-circle fa-3x m-1"></i>
                </div>
                <div class="col-10" style="text-align:right">
                    <p class="mb-0 title-container">450 Usuarios online</p>
                    <p class="mb-0 content-container">120 Usuarios nuevos</p>
                    <p class="mb-0 content-container">&nbsp;</p>
                </div>
            </div>
            <div class="row bg-light mt-auto">
                <div class="col"><small>@GlobalStrings.VerDetalles</small></div>
                <div class="col" style="text-align:right"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
        <div class="rounded border col m-1 d-flex flex-column" style="background-color:#9bc66d">
            <div class="row">
                <div class="col-2" style="margin:auto">
                    <i class="fas fa-route fa-3x m-1"></i>
                </div>
                <div class="col-10" style="text-align:right">
                    <p class="mb-0 title-container">10,3 km recorridos</p>
                    <p class="mb-0 content-container">20 Kg de CO2 compensado</p>
                    <p class="mb-0 content-container">&nbsp;</p>
                </div>
            </div>
            <div class="row bg-light mt-auto">
                <div class="col"><small>@GlobalStrings.VerDetalles</small></div>
                <div class="col" style="text-align:right"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
        <div class="rounded border col m-1 d-flex flex-column" style="background-color:#ca6060">
            <div class="row">
                <div class="col-2" style="margin:auto">
                    <i class="fas fa-exclamation-circle fa-3x m-1"></i>
                </div>
                <div class="col-10" style="text-align:right">
                    <p class="mb-0 title-container">@ViewBag.TotalIncidencias Incidencias</p>
                    <p class="mb-0 content-container">@ViewBag.IncidenciasResueltas resueltas | @ViewBag.IncidenciasPendientes pendientes</p>
                    <p class="mb-0 content-container">@ViewBag.TotalCaidas caídas</p>
                </div>
            </div>
            <div class="row bg-light mt-auto">
                <div class="col"><small>@GlobalStrings.VerDetalles</small></div>
                <div class="col" style="text-align:right"><i class="fas fa-angle-right"></i></div>
            </div>
        </div>
    </div>
</div>

<div id="map" class="mt-5" style="height:600px">

</div>


