@using BiciSendas.Resources
@using NonFactors.Mvc.Grid
@model BiciSendas.Areas.Operaciones.Models.Actuadores.ActuadorIndexVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "Actuadores";
        
    <div class="container d-flex flex-column">
    <div class="row">
            <div class="col-lg-2">
                @Html.LabelFor(m => m.IdTipoActuador, null, new { @class="col-form-label"})
                @Html.DropDownListFor(m => m.IdTipoActuador, Model.TipoActuadores, new{ @class="form-select"})
            </div>
            <div class="col mt-auto d-md-flex justify-content-md-end pe-0">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalActuador"><i class="fa-solid fa-plus"></i> Nuevo</button>
            </div>
        </div>
    </div>
        
    <div id="ListaActuadores" class="col-xs-12 mt-4">
        @Html.AjaxGrid(Url.Action("CargarActuadores", "Actuador", new { Area = "Operaciones" })!)
    </div>

    <div class="modal fade" id="modalActuador" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">@ActuadorStrings.Actuador</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
               <div id="descripcion" class="col-lg-12 mt-2">

               </div>  
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary">@ActuadorStrings.Enviar</button>
          </div>
        </div>
      </div>
    </div>
}
