@using BiciSendas.Recursos
@model BiciSendas.Areas.Monitorizacion.Models.Sensores.SensorIndexVM


@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "Sensores";
    
    <div class="container d-flex flex-column">
        <div class="row">
            <div class="col-lg-1 mt-auto">
                @Html.DropDownListFor(m => m.NumPagina, Model.Paginas, new {@class="selectpicker form-control"})
            </div>
            <div class="col-lg-2">
                <div class="form-group row">
                    @Html.LabelFor(m => m.Categorias, null, new { @class="col-form-label"})
                    <div>
                        @Html.DropDownListFor(m => m.Categoria, Model.Categorias, new{ @class="form-control"})
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="ListaSensores" class="col-lg-12 mt-4">
        <table class="table">
            <thead class="table-dark">
                <tr>
                    <th scope="col" style="font-size:smaller">@SensorStrings.Identificador</th>
                    <th scope="col" style="font-size:smaller">@SensorStrings.Nombre</th>
                    <th scope="col" style="font-size:smaller">@SensorStrings.Estado</th>
                    <th scope="col" style="font-size:smaller">@SensorStrings.Categoria</th>
                    <th scope="col" style="font-size:smaller">@SensorStrings.Coordenadas</th>
                    <th scope="col" style="font-size:smaller">@SensorStrings.FechaModificacion</th>
                    <th scope="col" style="font-size:smaller">@SensorStrings.Opciones</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var sensor in Model.Sensores!)
                {
                    <tr>
                        <td>@sensor.Identificador</td>
                        <td>@sensor.Nombre</td>
                        <td>@sensor.Estado</td>
                        <td>@sensor.Categoria</td>
                        <td>@sensor.Coordenadas</td>
                        <td>@sensor.FechaModificacion</td>
                        <td></td>
                    </tr> 
                }
            </tbody>
        </table>
    </div>
}