@using BiciSendas.Recursos
@model BiciSendas.Areas.Monitorizacion.Models.Incidencias.IncidenciaIndexVM

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "Incidencias";

    <div class="container d-flex flex-column">
        <div class="row">
            <div class="col-lg-1 mt-auto ps-0">
                @Html.DropDownListFor(m => m.NumPagina, Model.Paginas, new {@class="form-select"})
            </div>
            <div class="col-lg-3">
                @Html.LabelFor(m => m.Fecha, null, new { @class="col-form-label"})
                @Html.EditorFor(m => m.Fecha, new {htmlAttributes = new{ @class="form-control"}})
            </div>
            <div class="col-lg-2">
                @Html.LabelFor(m => m.Estado, null, new {@class="col-form-label"})
                @Html.DropDownListFor(m => m.Estado, Model.Estados, new {@class="form-select"})
            </div>
            <div class="col-lg-1">
                @Html.LabelFor(m => m.Barrio, null, new {@class="col-form-label"})
                @Html.EditorFor(m => m.Barrio, new {htmlAttributes = new {@class="form-control"}})
            </div>
        </div>
    </div>

    <div id="ListaIncidencias" class="col-xs-12 mt-4">
        <table class="table">
          <thead class="table-dark">
            <tr>
              <th scope="col" style="font-size:smaller">@IncidenciaStrings.Identificador</th>
              <th scope="col" style="font-size:smaller">@IncidenciaStrings.Nombre</th>
              <th scope="col" style="font-size:smaller">@IncidenciaStrings.Usuario</th>
              <th scope="col" style="font-size:smaller">@IncidenciaStrings.Barrio</th>
              <th scope="col" style="font-size:smaller">@IncidenciaStrings.Coordenadas</th>
              <th scope="col" style="font-size:smaller">@IncidenciaStrings.FechaIncidencia</th>
              <th scope="col" style="font-size:smaller">@IncidenciaStrings.Estado</th>
            </tr>
          </thead>
          <tbody>
            <tr>
         
            </tr>
          </tbody>
        </table>
        <a asp-action="Index" class="btn btn-outline-secondary" role="button">Anterior</a>
        <a asp-action="Index" class="btn btn-outline-secondary" role="button">Siguiente</a>
    </div>

    <div class="modal fade" id="modalIncidencia" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Nombre incidencia</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
                
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-success">@FaqStrings.Guardar</button>
          </div>
        </div>
      </div>
    </div>
}
